/* BASICS
------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
/* CONTENT
---------------------------------------------------- */
.content {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
/* TITLE
------------------------------------------------------ */
.title {
  height: 30%;
  width: 100%;
  overflow: hidden;
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.title h1 {
  margin: 1.5rem 0;
  word-spacing: 1rem;
  letter-spacing: 0.2rem;
}
.title p {
  position: absolute;
  right: 9rem;
  bottom: 5rem;
  letter-spacing: 0.1rem;
}
/* GAME
------------------------------------------------------------ */
.game {
  width: 100%;
  height: 70%;
  overflow: hidden;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 2rem;
  width: 28%;
  height: 70%;
}
/* .game-section:nth-child(1){
 background-color: red;
}
.game-section:nth-child(2){
    background-color: yellow;
}
.game-section:nth-child(3){
    background-color: green;
} */

.sec-title {
  font-size: 3rem;
  display: flex;
}
.sec-title :nth-child(1),
.sec-title :nth-child(2) {
  margin: 0 0.5rem;
}
.chosen {
  font-size: 8rem;
  border: 3px solid white;
  border-radius: 10px;
  padding: 5rem;
}
.button {
  font-size: 4rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}
.button i {
  font-size: 4rem;
  cursor: pointer;
  padding: 1rem;
}
.game-section:nth-child(3) .button i {
  transform: rotateZ(90deg);
}
